<div class="main-wrapper d-flex flex-column min-vh-100">

  <!-- Navbar -->
  <header>
    <app-navbar></app-navbar>
  </header>

  <!-- Main Content -->
  <main class="flex-grow-1">
    <div class="container my-4">

      <!-- Spinner for lazyload modules -->
      <div *ngIf="isLoading" class="d-flex justify-content-center my-5">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- Content -->
      <div *ngIf="!isLoading" class="content-animate">
        <router-outlet></router-outlet>
      </div>

    </div>
  </main>

  <!-- Footer -->
  <footer class="mt-auto">
    <app-footer></app-footer>
  </footer>

</div>
